{% extends 'base.html.twig' %}

{% block page_title %}Projets{% endblock %}

{% block content %}
    <div id="projects-container">

    {% for project in projects %}

        <article class="card-project">
            <a href="projet.html">
                <h2>TaskLinker</h2>
            </a>
            <div class="card-project-icons">
                <a href="projet-edit.html"><i class="fa-solid fa-pen"></i></a>
                <a href="#"><i class="fa-solid fa-trash"></i></a>
            </div>
        </article>

    {% endfor %}

    <article class="card-project">
        <a href="{{ url("project_new") }}">
            <i class="fa-solid fa-circle-plus add-project-icon"></i>
            <h2>Ajouter un projet</h2>
        </a>
    </article>

    </div>
{% endblock %}
